<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookmarks</title>
</head>
<body>
  <h1>Bookmarks</h1>
  {% for key, bookmark in bookmarks %}
  <p>{{ key }}: {{ bookmark.url }}</p>
  {% for key, cmd in bookmark.cmds %}
  <p>{{ key }}: {{ cmd.path }}</p>
  {% endfor %}
  {% endfor %}
</body>
</html>